.imagShadow {
  box-shadow: 1px 0px 8px 7px #b8b0b0;
}

.categoryImage {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.categoryImageThr {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: 75% 50%;
}

.sliderImage {
  width: 100%;
  height: 80vh;
}

@font-face {
  font-family: "ItalicFont";
  src: url("../font/Rough-Anthem-Italic.ttf") format("truetype"),
    url("../font/Rough-Anthem-Italic.ttf") format("truetype");
   
  
}
@font-face {
  font-family:"Comic" ;
  src: url("../font/Ldfcomicsanslight-6dZo.ttf")format("truetype"),
  url("../font/Ldfcomicsanslight-6dZo.ttf")format("truetype");
}
@font-face {
  font-family:"Happy";
  src: url("../font/Happy\ Lucky\ Free.ttf")format("truetype"),
  url("../font/Happy\ Lucky\ Free.ttf")format("truetype");
}
.fontStyle {
  font-family: 'ItalicFont';
  font-size: 40px;
}

.fontStyleabout {
  font-family: 'ItalicFont';
  font-size: 20px;
}

.bgcolorCom {
  background-color: #f1dcd7;
}


.custom-input {
  border: 2px solid #5a3b36;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  /* Adds space between the textboxes */
  width: 100%;
  background-color: #f9f9f9;
  /* Light background color for the input boxes */
}

.submit-button {
  background-color: #5a3b36;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  /* Full width button */
}

.submit-button:hover {
  background-color: darkbrown;
  /* Slightly darker color on hover */
}
/* * {
  margin: 0;
  padding: 0;
  color: white;
} */

.footerbgImage {
  background: url("../Image/footerimage.jpeg");
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.imagediv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.fontStyleColorsFootre {
  color: white;
  font-family: Comic;
  font-size: 20px;
  width: 50%;
  padding-left: 20px;
}

.LinkDiv {
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-family:Happy;
}

.uldesign {
  list-style-type: none;
  color: white;
}

.adesign {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 200px;
}

.endfooterdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon_div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  
}
